@font-face {
  font-family: "Gotham Pro Light";
  src: url("../fonts/GothamPro-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro Medium";
  src: url("../fonts/GothamPro-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #292929;
  color: white;
  font-family: "Gotham Pro";
  margin: 0;
}

.header {
  padding-top: 50px;
}

.text-color-red {
  color: #ff3469;
  font-family: "Gotham Pro Medium";
}

.header-description {
  font-family: "Gotham Pro Light";
  letter-spacing: 0.12px;
  font-size: 12px;
}

.header-contacts {
  text-align: right;
}

.header-phone {
  color: #ffffff;
  font-family: "Gotham Pro";
  font-size: 20px;
  letter-spacing: 0.2px;
  text-decoration: none;
  display: block;
}

.header-info {
  font-size: 12px;
  letter-spacing: 0.12px;
  font-weight: 400;
  margin-top: 7px;
  display: block;
}

.callback {
  color: #ff3469;
  font-size: 16px;
  margin-top: 16px;
  letter-spacing: 0.16px;
  text-decoration: none;
  text-decoration: underline;
  display: block;
}

.hero {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 77px;
  border-bottom: 1px solid #4c4c4c;
}

.hero-title {
  margin-bottom: 34px;
  font-size: 34px;
  text-transform: uppercase;
  letter-spacing: 0.34px;
  font-family: "Gotham Pro Medium";
}

.hero-description {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.18px;
  font-family: "Gotham Pro Light";
  line-height: 1.4;
}

.flowers-slider {
  width: 100%;
  margin-bottom: 83px;
  margin-top: 87px;
}

.slide-image {
  background-image: url("../img/flowers-images/bg-flowers.png");
  background-position: left;
  background-repeat: no-repeat;
  padding: 10px;
}

:root {
  --swiper-navigation-size: 18px;
}

.img-button {
  padding: 10px;
}

.img-button-icon {
  width: 8px;
  height: 14px;
}

.hero-cta {
  font-size: 19px;
  text-transform: uppercase;
  letter-spacing: 0.19px;
  margin-bottom: 36px;
  font-family: "Gotham Pro Light";
  display: block;
}

.button {
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #ff2e55;
  padding: 30px 65px 26px 65px;
  display: inline-block;
  cursor: pointer;
  border: none;
}

.reviews {
  padding-top: 100px;
  padding-bottom: 50px;
}

.section-title {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3px;
}

.review-slide {
  padding-left: 60px;
  padding-right: 60px;
}

.review-image {
  width: 220px;
  height: 220px;
  flex-shrink: 0;
  border-radius: 50%;
  overflow: hidden;
  font-size: 20px;
  font-family: "Gotham Pro Light";
  position: relative;
  margin-right: 50px;
}

.review-image:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
}

.review-image > * {
  position: relative;
}

.review-image-1 {
  background: #000 url("../img/reviews/review-1.png");
}

.review-name {
  margin-bottom: 7px;
}

.review-text {
  font-size: 18px;
  letter-spacing: 0.18px;
  line-height: 1.4;
}

.review-link {
  color: #f24841;
}

.advantages {
  text-align: center;
  padding-bottom: 100px;
  padding-top: 50px;
  border-bottom: 1px solid #4c4c4c;
}

.advantages-icon {
  min-height: 82px;
  margin-bottom: 30px;
}

.advantages-title {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 25px;
  text-transform: uppercase;
  max-width: 270px;
  margin: auto;
}

.reviews-slider {
  max-width: 1140px;
  margin-top: 98px;
}

.slider-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  z-index: 9;
}

.slider-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.slider-button-next {
  float: right;
}

.slider-button-prev {
  float: left;
}

.goods {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-description {
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.18px;
}

.card {
  text-align: center;
  border: 3px solid #ffffff;
  padding: 33px 35px 30px 35px;
  margin-top: 27px;
  margin-left: auto;
  margin-right: auto;
}

.card-title {
  margin-top: 23px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.card-label {
  font-size: 14px;
  display: block;
  margin-bottom: 7px;
  margin-top: 20px;
}

.color-label {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.color-input {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: -9;
}

.white {
  background-color: #ffffff;
}

.biege {
  background-color: #f7b496;
}

.pink {
  background-color: #ed366e;
}

.red {
  background-color: #ff0000;
}

.blue {
  background-color: #12129d;
}

.counter-input {
  border: 2px solid #ffffff;
  width: 40px;
  height: 40px;
  text-align: center;
  color: #fff;
  background-color: #292929;
  margin-left: 15px;
  margin-right: 15px;
}

.counter-button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 16px;
  background-color: #292929;
  border: none;
}

.card-button {
  font-size: 14px;
  width: 100%;
  padding: 16px 10px 13px 10px;
  background-color: #f24841;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.14px;
  font-weight: 500;
  margin-top: 20px;
  border: none;
}

.more {
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.14px;
  color: #f24841;
  display: block;
  margin-top: 39px;
  padding: 10px;
  background-color: transparent;
  border: none;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.more::after {
  content: "";
  width: 10px;
  height: 4px;
  background: url("../img/caret.svg") no-repeat center;
  display: inline-block;
  margin-left: 14px;
  vertical-align: middle;
}

.offer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #1a1a1a;
  text-align: center;
}

.visually-hidden {
  display: none;
}

.section-title {
  margin-bottom: 29px;
}

.offer-link,
.section-title {
  display: block;
  color: #ffffff;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.3px;
}

.offer-label {
  display: block;
  margin-top: 65px;
  font-size: 14px;
  letter-spacing: 0.14px;
}

.offer-phone {
  display: block;
  margin-top: 22px;
  color: #ffffff;
  letter-spacing: 0.36px;
  text-decoration: none;
  font-size: 36px;
}

.footer-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 33px;
}

.footer-menu-link {
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0.18px;
  text-transform: uppercase;
}

.footer-menu-item {
  margin-right: 30px;
}

.social {
  font-size: 16px;
}

.social-link {
  margin-left: 20px;
}

.footer-label {
  display: block;
  font-size: 14px;
  margin-bottom: 12px;
  letter-spacing: 0.14px;
}

.footer-info {
  text-align: right;
}

.footer-phone {
  display: block;
  font-size: 24px;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 0.24px;
  margin-bottom: 11px;
}

.footer-2 {
  background: #ffffff;
}

.footer-description {
  color: #292929;
  font-size: 12px;
  font-family: "Gotham Pro Light";
  letter-spacing: 0.12px;
  margin-left: 42px;
}

.copyright {
  font-size: 12px;
  color: #101010;
  letter-spacing: 0.12px;
  text-align: right;
  display: block;
}

@media (max-width: 767px) {
  .header {
    text-align: center;
  }
  .header-contacts {
    text-align: center;
  }
  .hero {
    padding-top: 50px;
  }
  .hero-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .hero-description {
    font-size: 16px;
  }
  .button {
    padding: 20px 40px 20px 40px;
  }
  .colors {
    max-width: 200px;
    margin: auto;
  }
  .card-label {
    margin: 20px auto;
    display: block;
  }
  .footer-info {
    text-align: left;
  }
  .copyright {
    text-align: center;
    margin-top: 40px;
  }
}

@media (max-width: 576px) {
  .offer,
  .offer-title,
  .footer-info {
    text-align: left;
  }
  .copyright {
    text-align: center;
    margin-top: 40px;
  }
}

.modal {
  display: none;
  max-width: 450px;
}

.modal-title {
  color: #000;
}

.modal-input {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 18px;
}

.modal-button {
  margin-top: 25px;
  width: 100%;
}

.modal-text {
  color: #000;
}
